.dashboard-container1 {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.current-readings, .latest-data, .charts {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chart {
    flex: 1;
    margin: 0 10px;
    height: 300px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

